.react-calendar__tile--now {
    background: #ffeb3b !important; /* Amarillo */
    border-radius: 50% !important;
    color: #000 !important;
    font-weight: bold !important;
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.6) !important; /* Sombra sutil */
}

.react-calendar__tile--active {
    background: #0078d4 !important; /* Azul */
    color: white !important;
    border-radius: 50% !important;
    font-weight: bold !important;
    box-shadow: 0 0 8px rgba(0, 120, 212, 0.6) !important; /* Sombra sutil */
}

.react-calendar__tile:hover {
    background-color: #005bb5 !important; /* Azul más oscuro */
    color: white !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

