@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');


#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width:100% !important;
    height: 100% !important;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Montserrat', Helvetica, sans-serif !important;
    top:0;
    bottom:0;
    position: absolute;

}
.navbar .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
  }
  .nav{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
    padding-left:  1rem;
    padding-right: 1rem;
}

.navbar>ul>li>a{
    color: var(--text_nav)!important;
}
.navbar>ul>li>a:hover:focus{
    color: var(--text_nav)!important;
    background-color: var(--nav) !important;
}
.navbar>a{
    color: var(--text_nav)!important;
}
.navbar>a:hover:focus{
    color: var(--text_nav)!important;
    background-color: var(--nav) !important;
}
.navbar>ul>li>.dropdown-menu>a{
    color: var(--text_nav)!important;
    background-color: var(--nav) !important;
}
.navbar>ul>li>.dropdown-menu>a:hover:focus{
    color: var(--text_nav)!important;
    background-color: var(--nav) !important;
}
.links{
  background-color: var(--nav) !important;
  color: var(--text_nav)!important;
}
.link-box {
    width: 270px; /* Ancho fijo para todas las cajas */
    height: 50px; /* Altura fija para todas las cajas */
    display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
    padding: 10px 20px; /* Espaciado interno para que parezca un botón */
    border: 2px solid transparent; /* Borde que cambia al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
    background-color: var(--nav) !important;
    color: var(--text_nav)!important; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    text-align: left;
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.link-box:hover {
    background-color: #d1d1d1;
    border-color: gray;
    text-decoration: none;
}

.link-box-active {
    background-color: #333; /* Color de fondo cuando el enlace es activo */
    color: #fff; /* Color del texto cuando el enlace es activo */
    border-color: gray; /* Color del borde cuando el enlace es activo */
}


#lista1 li {
  display:inline;
  padding-left:3px;
  padding-right:3px;
}

body {

    background-color: var(--background) !important;
    height: 100%;
}
#body{
    font-size: 1em;
    height:86.7%;
    max-height:86.7%;
    overflow-y:auto;
}
.boton{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
    border: solid;
    border-radius: 10%;
    border-color: #888;
    border-width: thin;

}
.boton:hover{

  cursor: pointer;
}

.container, .row{
    max-width: 100% ;
    max-height:100%;
    padding: 0rem;
    margin: 0rem;


}
.hidden{
  display: none;
}
.contenedor{
  height: 87.8%;
}
@media (max-width:801px)  {
  #body{
    height: 95.7%;
    max-height: 95.7%;
}
}
@media (min-width:801px)  {
  .links{
    position: relative;
    top: 0;
    bottom: 0;
    width:20%;

    max-height:100%;
  }
  .body{
    position: absolute;
    right: 0;
    width:75%;
  }
  .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:86.6%;
  }
  .contenedor_c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    max-height:100%;
  }
  .hijo{
    overflow-y:auto;
  }
  .u{
    height:100%;
    width: 100%;
  }


}
.error {
    color: #f55;
}
.ent{
    border: solid;
    border-radius: 5%;
    border-color: #aaa;
    border-width: thin;
    width:100%;
}
.ent:hover, a:hover{
     cursor: pointer;
}
.imagen{
    max-width: 100%;
    right: 0;
    max-height: 100%;
}
.modal-content{

    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
}
.sinLeer{
  background-color: #99f;
}

ul {
  list-style: none;
}
.ul-nombre{
  padding-left: 0;
}
.ul-link{
  padding-left: 1rem;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: .6rem;
    background: #ee0000;
    color: #fff;
    padding: 3px 3px;
    vertical-align: top;
}


.footer{
    background-color: var(--nav) !important;
    color: var(--text_nav)!important;
    padding: .1rem 1rem;
}
:root {

    --background: #fff;
    --text_nav: #fff;
    --nav: #2d2d2d;
    --text: #000;
  }



 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #888;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}


input + .slider {
  box-shadow: 0 0 1px #ccc;
}
input:focus + .slider {
  box-shadow: 0 0 2rem #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }

  option {
    padding: 0;
  }

  input[type="range"] {
    width: 200px;
    margin: 0;
  }
  .carga{
    display: flex;
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1200;
    bottom: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2d2d2ddd;
    align-items: center;
    justify-content:center
  }
  .signo{

    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #ccc;
    align-items: center;
    justify-content:center;
    animation-name: vueltas;
   animation-duration: 1s;
   animation-iteration-count: infinite;
  }
  .centro{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #2d2d2d;
  }
  .marca{
    position: absolute;
    width: 1rem;
    height: 1.5rem;
    top: 50%;
    background-color: #2d2d2d;
  }

  @keyframes vueltas {
    0% {
      background-color: #ddd;
      transform: rotate(0deg);

  }

  50% {
    background-color: #888;
  }
   100% {
    background-color: #ddd;
    transform: rotate(360deg);
   }
}
